@import url('../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css');

#mydiv {
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  position:fixed;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

img {
  margin: 0 auto;
  animation-name: stretch;
  animation-duration: 1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.9);
  }
  50% {
  }
  100% {
  }
}