@import url('../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css');
@import url('../node_modules/material-design-icons/iconfont/material-icons.css');
@font-face {
  src: url('../assets/fonts/SukhumvitSet-SemiBold.ttf');
  font-family: 'SukhumvitSet';
}

html,
body {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  font-family: 'SukhumvitSet';
  background-color: #fff;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#212529 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label] {
  color: #212529;
}

form { 
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  margin: 0 auto;
}

.bmd-form-group [class*=" bmd-label"], .bmd-label-floating, .bmd-label-static {
  left: 10px !important;
}

.form-control {
  padding-left: 10px;
  padding-right: 10px;
}

.card-body {
  padding: 0;
}

input[type=date]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

#docDate::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

input[type=date] {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.scrolling-form {
  overflow: auto;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.table td, .table th {
  vertical-align: middle;
  border-bottom: 1px solid rgba(0,0,0,.06);
  padding: .4rem;
}

.table th{
  padding: 0 0.25rem;
  text-align: center;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px;
}

.table thead th, .table tbody td {
  font-size: 12px;
}

.td-list, .td-quantity, .td-unit, .td-price, .td-discount, .td-total {
  text-align: center;
}

.td-del {
  border-right-width: 0;
}

@media (min-width: 768px) { 
  .table td, .table th {
    padding: .75rem;
  }

  .table thead th, .table tbody td {
    font-size: .95rem;
  }

  .card-body {
    padding: 0 10px;
  }

  .td-list {
    min-width: 350px;
  }

  .td-quantity {
    min-width: 150px;
  }

  .td-unit {
    min-width: 100px;
  }

  .td-price, .td-discount {
    min-width: 130px;
  }

  .td-total {
    min-width: 150px;
  }

  .total-label {
    top: -0.25rem !important;
  }
}

.total-label {
  color: #F51D22 !important;
  font-weight: bold;
  top: 1.75rem;
  font-size: 1rem !important;
}

.total-value {
  font-size: 1.5rem;
  color: #F51D22;
  font-weight: bold;
  text-align: right;
}

.card-header {
  background-color: #E9ECEF !important;
}

.checkbox label .checkbox-decorator .check, label.checkbox-inline .checkbox-decorator .check {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  border: .125rem solid #212529;
  border-radius: .125rem;
}

.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check:before, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check:before {
  color: #03A9F4;
  box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  animation: b .3s forwards;
}


.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check {
  color: #03A9F4;
  border-color: #03A9F4;
}

.radio label .bmd-radio:before, label.radio-inline .bmd-radio:before {
  position: absolute;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background-color: #03A9F4;
  border-radius: 50%;
  transition: transform .28s ease;
  transform: scale3d(0,0,0);
}

.radio label input[type=radio]:checked~.bmd-radio:after, label.radio-inline input[type=radio]:checked~.bmd-radio:after {
  border-color: #03A9F4;
}

.radio label input[type="radio"]:checked ~ .bmd-radio::before, label.radio-inline input[type="radio"]:checked ~ .bmd-radio::before {
  background-color: #03A9F4;
  transform: scale3d(0.5, 0.5, 1);
}

.radio label .bmd-radio:after, label.radio-inline .bmd-radio:after {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  content: "";
  border: .125rem solid #212529;
  border-radius: 50%;
  transition: border-color .28s ease;
  transition-duration: .2s;
}

/* select, select.custom-file-control, select.form-control {
  -moz-appearance: block;
  -webkit-appearance: block;
} */

.disabled-input {
  background-image: none !important;
}