.menu {
  width: 280px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  will-change: transform;
  z-index: 2;
}

.menu--show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  background-color: #F7F7F7;
  overflow-y: auto;
}

.menu__overlay {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu__overlay--show {
  visibility: visible;
  opacity: 1;
}

.menu__header {
  height: 150px;
  background: #03A9F4;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu__list {
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.other a {
  padding: 10px;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  display: block;
}

.other a:active,
.other a:hover {
  background-color: #E0E0E0;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.sign_out a {
  padding: 10px;
  color: #F51D22;
  display: block;
}

.sign_out a:hover,
.sign_out a:active {
  color: #e7e7e7;
  background-color: #F51D22;
  text-decoration: none;
}

.menu_active {
  background-color: #E1F5FE;
  text-decoration: none;
}

.menu_active a {
  padding: 10px;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.menu_active a span {
  color: #00a8ef;
}

.menu_active a:hover,
.menu_active a:active {
  background-color: #B3E5FC;
  text-decoration: none;
}

.del_store a {
  padding: 10px;
  color: #F51D22;
  display: block;
}

.del_store a:hover,
.del_store a:active {
  color: #e7e7e7;
  background-color: #F51D22;
  text-decoration: none;
}

.del_store_offline a {
  padding: 10px;
  color: #6c757d;
  display: block;
}

.del_store_offline a:hover,
.del_store_offline a:active {
  color: #6c757d;
  text-decoration: none;
}

.back_page a {
  padding: 10px;
  color: #F9A825;
  display: block;
}

.back_page a:hover,
.back_page a:active {
  background-color: #F9A825;
  color: #e7e7e7;
  text-decoration: none;
}

svg {
  width: 30px;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

.menu--show::-webkit-scrollbar {
  display: none;
}