@import url('../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css');
@import url('../node_modules/material-design-icons/iconfont/material-icons.css');
@font-face {
  src: url('../assets/fonts/SukhumvitSet-SemiBold.ttf');
  font-family: 'SukhumvitSet';
}

html,
body {
  height: 100%;
  font-family: 'SukhumvitSet';
  background-color: #fff;
}

body {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.bmd-form-group [class*=" bmd-label"], .bmd-form-group [class^=bmd-label] {
  left: 10px;
}

.form-control {
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#212529 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label] {
  color: #212529;
}