@import url('../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css');
@import url('../node_modules/material-design-icons/iconfont/material-icons.css');
@font-face {
  src: url('../assets/fonts/SukhumvitSet-SemiBold.ttf');
  font-family: 'SukhumvitSet';
}

html,
body {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  font-family: 'SukhumvitSet';
  background-color: #fff;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#212529 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label] {
  color: #212529;
}

.pagination-wrapper {
  width: 100%;
  height: 100%;
}

.pagination {
  position: relative;
  justify-content: center !important;
}

.pagination span {
  margin: 0 3px;
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.pagination span.active:before {
  background: #3498db;
}

.pagination span:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: #BCBCBC;
  border-radius: 50%;
}

.svg {
  width: 0 !important;
}

.text-important {
  font-size: 1.25rem;
  text-decoration: underline;
  margin-left: 40px;
}

.table td, .table th {
  padding: 0.25rem;
}

.th-del {
  width: 5%;
  border: 1px solid #fff !important;
}

.cost-list {
  width: 55%;
}

.cost-price {
  width: 40%;
}

.scrolling {
  overflow-y: auto;
  overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.table td, .table th {
  vertical-align: middle;
  border-bottom: 1px solid rgba(0,0,0,.06);
}

.table td{
  padding: 0 0.25rem;
}

.table td .form-control {
  background-image: none !important;
}

.card-body {
  padding: 0;
}

@media (min-width: 768px) {
  .card-body {
      padding: 0 10px;
  }
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px;
}

.form-control {
  padding-left: 10px;
  padding-right: 10px;
}

canvas {
  margin: 20px 0;
}

.card-header {
  background-color: #E9ECEF !important;
}
