@import url('../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css');
@import url('../node_modules/material-design-icons/iconfont/material-icons.css');
@font-face {
  src: url('../assets/fonts/SukhumvitSet-SemiBold.ttf');
  font-family: 'SukhumvitSet';
}

html,
body {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  font-family: 'SukhumvitSet';
  background-color: #fff;
}

.store__name {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  min-height: 120px;
  background-color: #f7f7f7;
}

.display-5 {
  font-size: 1.2rem;
}

.store__add {
  background-color: rgba(75,175,81,0.55);
  display: flex;
  flex: 1;
}

.store__add div {
  flex: 1;
}

.store__add h1 {
  color: #f2f2f2;
  font-weight: bold;
}

.store__add_block {
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex: 1;
}

.store__add_block div {
  flex: 1;
}

.store__add_block h1 {
  color: #f2f2f2;
  font-weight: bold;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.badge {
  margin-left: 15px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.05rem;
}